/* Styling Main Table*/
.Main_table {
    border-collapse: 1em;
    border-color: black;
    border: 1px solid black;
    background-color: white;
    width: 100%;
    font-family: Arial;
    font-size: 16px;
}

.Main_table td {
    padding: 20px; 
}

.table {
    border-collapse: 1em;
    border-color: black;
    border: 1px solid black;
    background-color: white;
    width: 100%;
    font-family: Arial;
    font-size: 16px;
}

.table td {
    padding: 0;
}

/* Logo and title*/

.mainhead {
    display: flex;
    align-items: center;
    max-width: 100%; 
  }
  
  .uppertext {
    margin-left: 20px; 
    font-family: 'Arial';
    font-size: 14px;
    color: black;
    text-align: center;
  }

.psulogo {
    max-width: 150px; 
    margin-top: 40px;
    margin-left: 650px; 
    display: block; 
    
}

.psutext {
    font-size: 20px;
}

.clear {
    clear: both;
}

/*CERTIFICATE TITLE STYLE*/
.certificate_title {
    font-family: Arial;
    text-align: center;
    letter-spacing: 7px;
    font-weight: bold;

}

.regnum {
    font-weight: bold;
    margin-bottom: 10px;
}

.regnumber {
    color: darkred;
}

.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
  }

  
/*STUDENT GENERAL INFO STYLE*/
.studgeninfo
{
    border-collapse: 1em;
    border-color: black;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
    background-color: #848cfe;
    width: 100%;
    padding: 0;
    text-align: center; 
    font-weight: bold; 
    font-family: Arial; 
    font-size: 16px;
    color:black;
    height: 10px;
    
}

.studgeninfo th
{
    border-collapse: 1em;
    border-color: black;
    border: none;
    background-color:#848cfe;
    width: 100%;
    padding: 8px;
    text-align: center; 
    font-weight: bold; 
    font-family: Arial; 
    font-size: 16px;
    color:black;
    height: 10px;
    
}

/*STUD INFO STYLE NAME, COURSE, PROGRAM ETC*/
.studinfo {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
}

.studinfo td {
    border: none; 
    padding: 5px 10px; 
    font-size: 14px; 
    font-weight: bold;
}

.studinfo {
    border-right: none;
    border-left: none;
    border-bottom: none;
    border-top: none;
}

.style {
    font-weight: normal;
}


/*SUBJECT INFO STYLE*/ 
.subinfo {
    border-top: 1px solid black;
    border-left: none;
    border-right: none;
    border-bottom: none;
    background-color: white;
    width: 100%;
    font-family: Arial;
    color: black;
    border-collapse: collapse; 
    border-top: #000 solid 1px;
}

.subinfo th {
    background-color: #848cfe;
    color: black;
    border-bottom: 1px solid black;
    padding: 8px;
    text-align: left;
    font-weight: bold;
    font-size: 16px;
}

.subinfo td {
    background-color: white;
    color: black;
    padding: 8px;
    text-align: left;
    font-size: small;
    font-weight: normal;
    font-size: 14px;
} 

.underlineName1 {
    text-decoration: underline;
}

.total-unit {
    font-weight: bold;
    float: right;
    font-size: 13px;
}

